

.cards li,
.cards .front,
.cards .back {
  width: 180px;
  height: 252px;
}

.cards li {
  perspective: 600px;
  float: left;
  margin: 0 0 30px 30px;
  cursor: pointer;
  list-style: none
}
.cards li:hover .wrapper {
  transform: rotateY(180deg);
}
.cards li:nth-child(1) .back {
  background: url("../src/images/cards/2_of_hearts.png") 0 0 no-repeat;
  background-size: 180px 252px;
   
}
.cards li:nth-child(2) .back {
  background: url("../src/images/cards/jack_of_diamonds.png") 0 0 no-repeat;
  background-size: 180px 252px;
  
}
.cards li:nth-child(3) .back {
  background: url("../src/images/cards/jack_of_diamonds.png") 0 0 no-repeat;
  background-size: 180px 252px;
}
.cards li:nth-child(4) .back {
  background: url("../src/images/cards/jack_of_diamonds.png") 0 0 no-repeat;
  background-size: 180px 252px;
}
.cards li:nth-child(5) .back {
  background: url("../src/images/cards/jack_of_diamonds.png") 0 0 no-repeat;
  background-size: 180px 252px;
}
.cards li:nth-child(6) .back {
  background: url("../src/images/cards/jack_of_diamonds.png") 0 0 no-repeat;
  background-size: 180px 252px;
}

.cards .wrapper {
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;
}

.cards .front,
.cards .back {
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.cards .front {
  z-index: 3;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/82473/bicycle-card.jpg") 0 0 no-repeat;
}

.cards .back {
  transform: rotateY(180deg);
}
