#app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../src/images/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}


/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: #010000;
  font-size: 4em;
  letter-spacing: .5em;

  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #2720FE;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #2720FE;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(59px, 9999px, 56px, 0);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(68px, 9999px, 31px, 0);
    transform: skew(0.63deg);
  }
  10% {
    clip: rect(3px, 9999px, 25px, 0);
    transform: skew(0.1deg);
  }
  15% {
    clip: rect(1px, 9999px, 44px, 0);
    transform: skew(0.45deg);
  }
  20% {
    clip: rect(50px, 9999px, 81px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(66px, 9999px, 76px, 0);
    transform: skew(0.69deg);
  }
  30% {
    clip: rect(70px, 9999px, 57px, 0);
    transform: skew(0.46deg);
  }
  35% {
    clip: rect(36px, 9999px, 20px, 0);
    transform: skew(0.21deg);
  }
  40% {
    clip: rect(39px, 9999px, 48px, 0);
    transform: skew(0.49deg);
  }
  45% {
    clip: rect(36px, 9999px, 21px, 0);
    transform: skew(0.55deg);
  }
  50% {
    clip: rect(25px, 9999px, 96px, 0);
    transform: skew(0.95deg);
  }
  55% {
    clip: rect(4px, 9999px, 92px, 0);
    transform: skew(0.28deg);
  }
  60% {
    clip: rect(23px, 9999px, 32px, 0);
    transform: skew(0.72deg);
  }
  65% {
    clip: rect(33px, 9999px, 98px, 0);
    transform: skew(0.19deg);
  }
  70% {
    clip: rect(76px, 9999px, 95px, 0);
    transform: skew(0.3deg);
  }
  75% {
    clip: rect(15px, 9999px, 20px, 0);
    transform: skew(0.08deg);
  }
  80% {
    clip: rect(43px, 9999px, 34px, 0);
    transform: skew(0.84deg);
  }
  85% {
    clip: rect(76px, 9999px, 51px, 0);
    transform: skew(0.85deg);
  }
  90% {
    clip: rect(25px, 9999px, 6px, 0);
    transform: skew(0.3deg);
  }
  95% {
    clip: rect(58px, 9999px, 86px, 0);
    transform: skew(0.26deg);
  }
  100% {
    clip: rect(90px, 9999px, 91px, 0);
    transform: skew(0.58deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(70px, 9999px, 27px, 0);
    transform: skew(0.65deg);
  }
  5% {
    clip: rect(75px, 9999px, 84px, 0);
    transform: skew(0.92deg);
  }
  10% {
    clip: rect(42px, 9999px, 31px, 0);
    transform: skew(0.79deg);
  }
  15% {
    clip: rect(99px, 9999px, 1px, 0);
    transform: skew(0.12deg);
  }
  20% {
    clip: rect(51px, 9999px, 88px, 0);
    transform: skew(0.28deg);
  }
  25% {
    clip: rect(8px, 9999px, 11px, 0);
    transform: skew(0.2deg);
  }
  30% {
    clip: rect(2px, 9999px, 97px, 0);
    transform: skew(0.44deg);
  }
  35% {
    clip: rect(1px, 9999px, 79px, 0);
    transform: skew(0.5deg);
  }
  40% {
    clip: rect(59px, 9999px, 14px, 0);
    transform: skew(0.17deg);
  }
  45% {
    clip: rect(90px, 9999px, 4px, 0);
    transform: skew(0.94deg);
  }
  50% {
    clip: rect(42px, 9999px, 60px, 0);
    transform: skew(0.33deg);
  }
  55% {
    clip: rect(9px, 9999px, 90px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(95px, 9999px, 39px, 0);
    transform: skew(0.51deg);
  }
  65% {
    clip: rect(86px, 9999px, 36px, 0);
    transform: skew(0.81deg);
  }
  70% {
    clip: rect(72px, 9999px, 89px, 0);
    transform: skew(0.58deg);
  }
  75% {
    clip: rect(33px, 9999px, 8px, 0);
    transform: skew(0.01deg);
  }
  80% {
    clip: rect(83px, 9999px, 51px, 0);
    transform: skew(0.31deg);
  }
  85% {
    clip: rect(43px, 9999px, 34px, 0);
    transform: skew(0.8deg);
  }
  90% {
    clip: rect(43px, 9999px, 36px, 0);
    transform: skew(0.63deg);
  }
  95% {
    clip: rect(96px, 9999px, 26px, 0);
    transform: skew(0.17deg);
  }
  100% {
    clip: rect(48px, 9999px, 1px, 0);
    transform: skew(0.24deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(2deg);
  }
  40% {
    transform: skew(3deg);
  }
  50% {
    transform: skew(-4deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(1deg);
  }
}
