.nav {
    transform: translate(-50%, -50%);
}

nav ul li a {
    color: #010101;
    text-decoration: none;
    display: inline-block;
    position: relative;
}


nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

nav ul li a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


  