/* Global */

* {
    transition: 1s;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #010000;
}




/* HEADER */

header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background: rgba(255, 255, 255, 0.3);
    top: 0;
    position: fixed;
    z-index: 999;
}

header > h1 {
    float: left;
    margin-left: 30px;
    margin: 0 0 0 0.5em;
}

header nav {
    float: right;
    margin-right: 15px;
}

header nav ul li {
    display: inline;
    padding: 0 0 0 0.2em;
    
}

header nav ul {
    display: inline;
}

header nav ul a {
    text-decoration: none;
    color: #010000;
}

header nav a:hover {
    color: #010000;
}


/* main */

main {
    margin: -20px 0 0 0;
    padding: 1em 0 0 0;
    position: relative;

}

/* Container */

.background-container {
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
    background: url("../src/images/img1.jpg");
    background-size: cover;
    background-position: center;
}

.background-container .container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.background-container .container .one {
    grid-column: 1/7;
    grid-row: 1;
    text-align: center;
}

.background-container .container .two {
    grid-column: 1/4;
    grid-row: 2;
}

.background-container .container .three {
    grid-column: 4/7;
    grid-row: 2;
}

.background-container .container .four {
    grid-column: 1/7;
    grid-row: 3;
    text-align: center;
}

/* Tableau */

table {
    width: 75%;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }










